
  .cat {
    background-image: url(/public/sky3.jpeg);
    background-size:100% 100%; 
    
   

    /* Add other background properties as needed */
  }

  .icon-avatar {
    font-size: 50px; /* Increase the font size for icons */
    width: 90px; /* Increase the width for avatars */
    height: 90px; /* Increase the height for avatars */
    border-radius: 50%; /* Make them form a circle */
    place-items: center;
  }

  .avatar {
    width: 90px; /* Increase the width for avatars */
    height: 90px; /* Increase the height for avatars */
    border-radius: 50%; /* Make them form a circle */
  }

  .lodging-container {
    background-image: url(/public/sky4.jpeg);
    background-size:100% 800%; 
    font-style: italic;
    font-stretch: wider;
    font-family: Helvetica;
  }