.guest-form {
    background-image: url(/public/guest.jpeg);
    background-size: cover;
    background-position: center;
    color:aliceblue;
    text-align: center;
    /* height: 200vh; */
    min-height: calc(100vh - 64px); 
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-family: Georgia;
    font-size: 30px;
    margin: 0px;
    padding-top: 90px;
  }
  .guest-form-container {
    font-size: 30px;
    font-weight: bolder;
    font-family:Georgia;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
  }
  .guest-form h2 {
    text-align: center; /* Center the title */
  }
  
  .guest-form ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
  }
  
  .guest-form li {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
  }
  
  .guest-form input[type="text"],
  .guest-form input[type="email"],
  .guest-form input[type=""]
   {
    border: 4px solid whitesmoke;
    font-weight: bolder;
    font-size: 25px;
    font-family: Georgia;
    color:bisque;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }


  .submitinfo {
   text-align: left; 
   margin: 10px 0;
   text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
   font-family: Georgia;
 
  }
  .guest-form .submitinfo p {
    color: darkgray; /* Adjust the color as needed */
  }
  
  .guest-form .submitinfo p.label {
    color: rgb(247, 195, 23); /* Adjust the color as needed */
  }
  
  .guest-form .submitinfo p.value {
    color: white; /* Adjust the color as needed */
  }
  