.guest-form {
    background-image: url(/public/beachfriends.jpeg);
    background-size:cover; 
    background-repeat: no-repeat; /* this line to avoid repeating the image */
    background-attachment: fixed;
    text-align: center;
    color:aliceblue;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-family: Georgia;
    font-size: 30px;
    margin: 0px;
    padding-top: 90px;
    background-position: center;
    min-height: 100vh; 
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity by changing the last value */
}
  .guest-form-container {
    font-size: 30px;
    font-weight: bolder;
    font-family:Georgia;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
  z-index: 1;
  }
  .guest-form h2 {
    text-align: center;
    margin-left: 200px; /* Center the title */
    color: rgb(237, 165, 77);
  }
  
  .guest-form ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3;
    list-style: horizontal;
    position: relative;
    z-index: 1;
  }
  
  .guest-form li {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
  }
  
  .guest-form input[type="text"],
  .guest-form input[type="email"],
  .guest-form input[type=""]
   {
    
    border: 2px solid whitesmoke;
    font-weight: bolder;
    font-size: 25px;
    font-family: Georgia;
    color:bisque;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: relative;
  z-index: 1;
  }

  
  .submitinfo {
   
   margin: 10px 0;
   text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
   font-family: Georgia;
   position: relative;
   z-index: 1;
  }


  .submitinfo div {
    margin-bottom: 10px; /* Add margin between each piece of information */
  }

  .guest-form .submitinfo p {
    color: darkgray; 
    position: relative;
    z-index: 1;
  }
  .guest-info p {
    margin: 0;
  }
  .guest-info .label {
    font-weight: bold;
    margin-right: 10px;
  }

  .guest-form .submitinfo p.label {
    text-shadow: 2px 2px 8px rgba(0, 0, 11, 11);
    color: rgb(244, 221, 14); 
    position: relative;
    z-index: 1;
  }
  
  .guest-form .submitinfo p.value {
    color: rgb(250, 240, 240);
    position: relative;
  z-index: 1;
  }
  