
  
  .lodging-body {
    background-image: url(/public/tent.jpeg);
    background-size:100% 100%; 
    background-repeat: no-repeat; /* this line to avoid repeating the image */
    background-attachment: fixed;
    text-align: center;
    color: rgb(235, 168, 86);
    font-family: Georgia;
    min-height: 100vh; 
    text-shadow: 10px 10px 10px rgba(09, 9, 9, 9.5);
    font-weight: bolder;
   padding-top: 140px;
   font-size: px;
    text-align: center;
    margin: 0px;

  }

  .header-title {
    text-shadow: 20px 10px 10px rgba(09, 9, 9, 9.5);
    font-weight: bolder;
    font-family: Georgia;

  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add this line */

    gap: 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family:Georgia;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .input-field {
    width: 70%;
    color: white;
    text-align: center;
    border: 2px solid whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px; 
    font-family: Georgia;
    color: rgb(235, 168, 86);
    text-shadow: 4px 4px 4px rgba(30, 30, 30, 31.5);
    
  } 


  .input-container
  {
    font-size: 90px;
    font-weight: bolder;
    font-family:Georgia;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


  .date-input {
    width: 50%;
  }
  .header-title {
    font-family: Georgia;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    
  }

  .submitinfo {
    font-family: Georgia;
    color:rgb(204, 161, 108);
    font-size: larger;
    margin-bottom: 20px;
  }
  .submitinfo p {
    margin-bottom: 5px;
    color:rgb(222, 222, 96);
    text-shadow: 1px 4px 4px rgba(7, 7, 7, 7.5);
    font-family: "Georgia";
  }
  
  .submitinfo hr {
    margin-top: 20px;
  }
  .date-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .date-input {
    width: 85%;
  }
  
  .date-field {
    width: 100%;
  }
  .beige-text {
    color:beige;
  }
  /* .label-text {
    color:'hsl(94, 82%, 60%)';
  } */
  .label-text {
    color: rgb(33, 20, 4); /* or whatever darker color you prefer */
    display: inline;
    text-shadow: 1px 10px 10px rgba(09, 9, 9, 9.5);
  }
  
  .beige-text {
    color: rgb(91, 161, 30); /* adjust the color as you prefer */
    display: inline;
    font-size: larger;
    text-shadow: 1px 1px 1px rgba(09, 9, 9, 9.5);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .h1 {
    color:rgb(235, 168, 86);
  }
 