
  
  body {
    background-image: url(/public/lodging.jpeg);
    background-size: cover;
    background-position: center;
    color: bisque;
  }
  /* .lodging-container {
     background-size:100% 100%;
    font-style: italic;
    font-stretch: wider;
    font-family: Helvetica;
  }

  .input-field {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  } */