
  
  .lodging-body {
    background-image: url(/public/orangecloud.jpeg);
    background-size:100% 100%; 
    background-repeat: no-repeat; /* this line to avoid repeating the image */
    background-attachment: fixed;
    text-align: center;
    font-family: Georgia;
    min-height: 100vh; 
    text-shadow: 10px 10px 10px rgba(09, 9, 9, 9.5);
    font-weight: bolder;
   padding-top: 140px;
  
    text-align: center;
    margin: 0px;
    background-color: rgba(0, 7, 0, 11);

  }

 
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add this line */
    gap: 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family:Georgia;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .input-field {
    width: 60%;

    text-align: center;
    border: none;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px; 
    font-family: Georgia;
    color: rgb(146, 99, 41);
    text-shadow: 4px 4px 4px rgba(30, 30, 30, 31.5);
    
  } 


  .input-container
  {
    font-size: 90px;
    font-weight: bolder;
    font-family:Georgia;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


  .date-input {
    width: 50%;
  }
 

  .submitinfo {
    font-family: Georgia;
    
    font-size: larger;
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 10px;
    margin-bottom: 20px;
  }
  .submitinfo p {
    margin-bottom: 5px;
    color:rgb(222, 222, 96);
    text-shadow: 1px 4px 4px rgba(7, 7, 7, 7.5);
    font-family: "Georgia";
  }
  
  .submitinfo hr {
    margin-top: 30px;
  }
  .date-container {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .date-input {
    width: 85%;
  }
  
  .date-field {
    width: 100%;
  }
  
  
  
  .beige-text {
    color: rgb(109, 192, 36); /* adjust the color as you prefer */
    display: inline;
    font-size: larger;
    text-shadow: 1px 1px 1px rgba(09, 9, 9, 9.5);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
 
 