.suitcase-body{
  background-image: url(/public/suitcaseaustin.jpeg);
  background-size:100% 100%; 
  background-repeat: no-repeat; /* this line to avoid repeating the image */
  background-attachment: fixed; /* line to make the background fixed even with scrolling */
  color: rgb(227, 191, 26); 
  text-align: center;
  background-position: center;
  font-size: 60px;
  font-weight: bolder;
  font-family: Georgia;
  min-height: calc(100vh - 64px); 
  text-shadow: 10px 10px 10px rgba(09, 9, 9, 9.5);
  font-size: 40px;
  margin:0px ;
  padding-top: 93px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity by changing the last value */
}


  .header-title, h2 {
    text-shadow: 20px 10px 10px rgba(09, 9, 9, 9.5);
    font-weight: bolder;
    font-family: Georgia;
    position: relative;
    z-index: 1;

  }
  .list-container {
    display: flex;
    justify-content: space-between;
    font-family: Georgia;
    text-shadow: 5px 10px 10px rgba(11, 11, 11, 11.5);
    font-size: x-large;
    font-weight: bolder;
    position: relative;
    z-index: 1;

  }
  .list-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    position: relative;
    z-index: 1;
  }
  
  .bring-list,
  .dont-bring-list {
   padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Georgia;
    text-shadow: 20px 10px 10px rgba(11, 11, 11, 11.5);
    font-weight: bolder;
    position: relative;
  z-index: 1;
  }
  
  .bring-list {
    width: 50%;
   font-weight: bold;
    text-align: center;
    color:black;
    font-family: Georgia;
    text-shadow: 20px 10px 10px rgba(11, 11, 11, 11.5);
    position: relative;
    z-index: 1;
  }
  
  .bring-list li,
  .dont-bring-list li {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 5px 10px 15px rgba(11,11, 11, 0.5);
    text-align: center;
    position: relative;
    z-index: 1;
 
    font-family: Georgia;
    
  }
  
.dont-bring-list{
  width: 50%;
  font-weight: bolder;
  font-size: x-large;
  font-size: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
  position: relative;
  z-index: 1;
}


  .dont-bring-list li:last-child {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    text-align: center;
    color:black;
    font-family: Georgia;
    font-size: larger;
    font-family: Georgia;
    font-size: larger;
    font-weight: 50px;
    text-shadow: 20px 10px 10px rgba(09, 9, 9, 9.5);
  }
  
  .h3 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-family: Georgia; 
    position: relative;
    z-index: 1;
  }
  
  