.suitcase-body{
    background-image: url(/public/suitcasepass.jpeg);
    background-size:cover;
    height: 100vh;
    color: white; 
    text-align: center;
    background-position: center;
  }
  /* .input-field {
    width: 100%;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  } */
  
  