.suitcase-body{
    background-image: url(/public/hat.jpeg);
    background-size:cover;
    height: 100vh;
    color: rgb(227, 191, 26); 
    text-align: center;
    background-position: center;
    font-size: 60px;
    font-weight: bolder;
    font-family: Georgia;
    min-height: calc(100vh - 64px); 
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-family: Georgia;
    font-size: 40px;
    margin: -1;

  }
  .header-title, h2 {
    text-shadow: 20px 10px 10px rgba(09, 9, 9, 9.5);
    font-weight: bolder;
    font-family: Georgia;

  }
  .list-container {
    display: flex;
    justify-content: space-between;
    font-family: Georgia;
    text-shadow: 5px 10px 10px rgba(11, 11, 11, 11.5);
  }
  
  .bring-list,
  .dont-bring-list {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Georgia;
    text-shadow: 20px 10px 10px rgba(11, 11, 11, 11.5);
  }
  
  .bring-list {
    border-right: 1px solid #ccc;
    text-align: center;
    color:black;
    font-family: Georgia;
    text-shadow: 20px 10px 10px rgba(11, 11, 11, 11.5);
  }
  
  .bring-list li,
  .dont-bring-list li {
    margin-bottom: 10px;
    text-align:justify;
    font-family: Georgia;
    text-shadow: 20px 10px 10px rgba(09, 9, 9, 9.5);
  }
  
  .dont-bring-list li:last-child {
    margin-bottom: 0;
    text-align: center;
    color:black;
    font-family: Georgia;
    font-size: larger;
    font-family: Georgia;
    font-size: larger;
    font-weight: bolder;
    text-shadow: 20px 10px 10px rgba(09, 9, 9, 9.5);
  }
  
  .h3 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-family: Georgia; 
  }
  
  