/* .login {
        background-image: url(/public/yellow.jpeg);
        background-size:100% 100%; 
        background-size:cover;
        height: 100vh;
       
      
} */

.yellow {
        background-image: url(/public/yellow.jpeg);
        /* background-size:100% 100%;   */
        background-size:cover;
        height: 100vh;
}