

.yellow {
        
        background-image: url(/public/reddoor.jpeg);
        background-size: cover;
        color: bisque;
        text-align: center;
        min-height: 100vh; 
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        font-weight: bolder;
        font-family: Georgia;
        font-size: 40px;
        background-position: bottom;
       
}


