
.addtrips {
    background-image: url(/public/sky2.jpeg);
    background-size:100% 100%; 
    text-align: center;
    background-position: center;
    height: 100vh;
    font-family: Georgia;
    color:beige;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }
  

  .addtrips {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Set the container height to the full viewport height */
  }
/*   
  .addtrips form {
    width: 100%; /* Set the form width to 100% of the container */
    /* max-width: 400px; /* Set a maximum width for the form */
  /* } */
  /* .addtrips form > div { */
    /* margin-bottom: 20px; */
  /* } */ */ */

.header {
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  font-family: Georgia; 
  align-items: center;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.addtrips {
  font-family: Georgia; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
