
.addtrips {
    background-image: url(/public/sky2.jpeg);
    background-size:100% 100%; 
    /* Add other background properties as needed */
  }
  
  .addtrips {
    border: 3px solid black; /* Set border width and color */
    height: 700px; /* Set the height of the container */
  }
  .addtrips {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the container height to the full viewport height */
  }
  
  .addtrips form {
    width: 100%; /* Set the form width to 100% of the container */
    max-width: 400px; /* Set a maximum width for the form */
  }
  .addtrips form > div {
    margin-bottom: 20px;
  }

.header {
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  font-family: Arial, Helvetica, sans-serif; /* Set the desired font family */
  align-items: center;
  font-style: italic;
}
