.my-trips-container,body {
  background-image: url(/public/bluetrees.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
    
  }

  .my-trips-container h1 {
    font-size: 40px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:aliceblue
  }
  
  .my-trips-container p {
    font-size: 50px;
    font-weight:bolder;
    font-family: 'Georgia';
    /* color:; */

  }
  
  .my-trips-container .no-trips-message {
    font-size:20px;
    font-weight: bolder;
    font-family: 'Georgia';
   
  }
  .addtripsbutton {
    color:aliceblue;
    font-weight: 500px;
   
  }

  .edittrip {
    background-image: url(/public/walk.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
  
    }
.solid {
  color: hsl(94, 82%, 60%);
  margin: 0;
  font-size: 70px;
  text-align: center;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.edittrip input[type="text"],
.edittrip input[type="date"] {
  /* color: whitesmoke; */
  font-weight: bolder;
  font-size: 20px;
  font-family: Georgia;
  color:bisque
}
.edit-container {
  color: white;
  font-size: 50px;
}

.delete-container {
  color: hsl(94, 82%, 60%);
  font-size: 18px;
}
