.my-trips-container,body {
  background-image: url(/public/bluetrees.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  height: 100vh;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }

  .my-trips-container h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family:Georgia;
    text-align: center;
    color:black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  

  }
  
  .my-trips-container p {
    font-size: 50px;
    font-weight:bolder;
    font-family: 'Georgia';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   

  }
  
  .my-trips-container .no-trips-message {
    font-size:20px;
    font-weight: bolder;
    font-family: 'Georgia';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

   
  }
  .addtripsbutton {
    color:aliceblue;
    font-weight: 500px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
   
  }

  .edittrip {
    background-image: url(/public/walk.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    }
.solid {
  color: hsl(94, 82%, 60%);
  margin: 0;
  font-size: 70px;
  text-align: center;
  font-style: italic;
  font-family:Georgia;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

.edittrip input[type="text"],
.edittrip input[type="date"] {
 
  font-weight: bolder;
  font-size: 25px;
  font-family: Georgia;
  color:black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.edit-container {
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

.delete-container {
  color: hsl(94, 82%, 60%);
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
