.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0 30px; */
  background-color:#48D8D9;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  margin: -1;
}

.nav-title {
  color: hsl(94, 82%, 60%);
  margin: -1;
  font-size: 40px;
  text-align: center;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navLink {
  display: inline-block;
  color:white;
  background-color:#48D8D9 ;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  font-family:Georgia, 'Times New Roman', Times, serif;


  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}
