.nav {

  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* .nav a {
  text-decoration: none;
  margin: -1;
} */

.nav-title {
  position: absolute;
  /* set to absolute */
  top: 10%;
  /* position it at the center vertically */
  left: 50%;
  /* position it at the center horizontally */
  transform: translate(-50%, -50%);
  /* needed to perfectly center the element */
  color: hsl(94, 82%, 60%);
  font-size: 40px;
  text-align: center;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: '8px 1px 2px rgba(0, 0, 0, 0.8)';
}

.navLink {
  /* display: inline-block; */
  color: hsl(94, 82%, 60%);
  text-align: right;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  position: relative;
  margin-top: 0px;
  display: inline-flex;
}





.logout-button {
  position: static;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  background: transparent;
  z-index: 1000;
}

/* position: fixed; */